<% if(@word.define().length.eql?(0)) %>
  <p class="lead">Your word: <%= @word.spelling() %> has already been added to the dictionary, please add a different word.</p>
<% elsif(@word.define().length.eql?(1)) %>
  <p class="lead">Your word: <%= @word.spelling() %> has been added to the dictionary</p>
<% else %>
  <p class="lead">Your word: <%= @word.spelling() %> has been updated</p>
<% end %>

<a href="/dictionary/add" class="btn btn-default" role="button">Add Another Word</a>
<% if(@word.define().length.>(0)) %>
  <a href="/dictionary/<%= @word.id() %>/<%= @word.spelling() %>/add" class="btn btn-default" role="button">Add Another Definition to this Word</a>
<% end %>

<a href="/dictionary/<% if(@word.define().length.>(0)) %><%= @word.id() %><% else %><%= @existing_word.id() %><% end %>/<%= @word.spelling() %>" class="btn btn-default" role="button">View This Word</a>

<a href="/" class="btn btn-default" role="button">Home</a>
